doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="author" content="Chris Danan and Mario Andrade")
	body
		h1 Welcome to the URL Shortener!
		p Enter "http://localhost:&lt;port number&gt;/&lt;path&gt;" or "localhost:&lt;port number&gt;/&lt;path&gt;" for a long URL.
		p Enter "&lt;path&gt;" for a short URL.
		p If a long URL is entered, a short URL will be outputted.  If a short URL is entered, it's long URL will be outputted.
		div#inputURLDiv
		div#resultsDiv
		div#topTenDiv
			a(href="/topTen") Click here to view the top 10 URLs.
		//jQuery
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="/javascripts/app.js")