doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="author" content="Chris Danan and Mario Andrade")
	body
		h1 Welcome to the URL Shortener!
		p ENTER DESCRIPTION HERE
		div#inputURLDiv
		div#resultsDiv
		div#topTenDiv
			a(href="/topTen") Click here to view the top 10 URLs.
		//jQuery
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="/javascripts/app.js")