doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(author="Chris Danan and Mario Andrade")
	body
		h1 Welcome!
		p You are viewing #{thisURL}
		a(href="/") Click here to go back to the homepage.