doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="author" content="Chris Danan and Mario Andrade")
	body
		h1 Top 10 URLs
		p Here are the top 10 URLs, based on the number of views they have received.
		div#buttonArea
		div#top10Results
		//jQuery
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="/javascripts/topTen.js")